<app-topnav></app-topnav>
<app-asidenav></app-asidenav>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Company Master</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><button type="button" class="btn btn-block bg-gradient-primary"
                                [routerLink]="['/Edit_Company']">View
                                List</button></li>
                    </ol>
                </div>
            </div>
            <!-- 
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Company Master</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Company Master</li>
                    </ol>
                </div>
            </div> -->


        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <!-- <div class="card-header">
                            <h3 class="card-title">Quick </h3>
                        </div> -->
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="InputName">Name</label>
                                        <input type="text" class="form-control" id="InputName" placeholder="Enter Name">
                                    </div>

                                    <div class="col-4">
                                        <label for="ContectNumber">Contect Number</label>
                                        <input type="number" class="form-control" id="ContectNumber" maxlength="10"
                                            placeholder="Enter Contect Number">
                                    </div>

                                    <div class="col-4">
                                        <label for="InputEmail1">Email address</label>
                                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                            placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="InputAddressLine1">Address Line1</label>
                                        <input type="text" class="form-control" id="InputAddressLine1"
                                            placeholder="Enter Address Line1">
                                    </div>
                                    <div class="col-6">
                                        <label for="InputAddressLine2">Address Line2</label>
                                        <input type="text" class="form-control" id="InputAddressLine2"
                                            placeholder="Enter Address Line2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="SelectCountry">Country</label>
                                        <select class="form-control select2" style="width: 100%;"
                                            (change)="GetState(country.value)" #country>
                                            <option value="0">Select Country Name</option>
                                            <option value="108">India</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="SelectState">State</label>
                                        <select class="form-control select2" style="width: 100%;"
                                            (change)="GetCity(state.value)" #state>
                                            <option value="0" selected="selected">Select State</option>
                                            <option *ngFor="let item of lstState.data" value={{item.StateId}}>
                                                {{item.StateName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="SelectCity">City</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option value="0" selected="selected">Select City</option>
                                            <option *ngFor="let item of lstCity.data" value={{item.CityId}}>
                                                {{item.CityName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>Discription</label>
                                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-danger"
                                            [routerLink]="['/login']">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>