<!-- <div class="wrapper">
  <app-topnav></app-topnav>
  <app-asidenav></app-asidenav>
  <div class="content-wrapper">

    <router-outlet></router-outlet>

  </div>
  <app-footer></app-footer>
</div> -->

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="assets/admillte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
        width="60">
    </div>

    <!-- <app-topnav></app-topnav>
    <app-asidenav></app-asidenav> -->

    <router-outlet></router-outlet>
    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-footer></app-footer> -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</body>