<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Forgot </b>Password</a>
            </div>
            <div class="card-body">
                <!-- <p class="login-box-msg">Sign in to start your session</p> -->

                <form #usrregistration="ngForm" autocomplete="off" novalidate class="form" (ngSubmit)=onSubmit()>
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="_loginUser.EmailAddress" class="form-control"
                            placeholder="Email" name="Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="_loginUser.MobileNo" class="form-control"
                            (keypress)="numericOnly($event)" maxlength="10" placeholder="Mobile No" name="MobileNo"
                            required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" [(ngModel)]="_loginUser.Password" class="form-control"
                            placeholder="password" name="password" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" [(ngModel)]="_loginUser.ConfirmPassword" class="form-control"
                            placeholder="Confirm Password" name="ConfirmPassword" required>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <a href="/login">Back to login page</a>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->

</body>